.about-me {
    display: flex;
    flex-direction: column;
    background: var(--azul-10);
    padding: 6.5rem;
    margin: 3.5rem 0;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    
}

.about-me__text {
    display: flex;
    flex-direction: column;
    padding-left: 8.15rem;
}

.about-me__text__title {
    font-size: 3.5rem;
    color: var(--preto-100);
    font-weight: 700;
}

.about-me__text__description {
    font-size: 2rem;
    color: var(--preto-100);
    font-weight: 400;
    width: 65%;
    text-align:start;
}

@media screen and (max-width: 768px) {
    .about-me {
        padding: 3.2rem;
        margin: 0;
        
    }
    
    .about-me__text {
        padding-left: 0;
    }
    
    .about-me__text__title {
        font-size: 2.2rem;
    }
    
    .about-me__text__description {
        font-size: 1.4rem;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .about-me {
        padding: 1.6rem;
        margin: 0;
    }

    .about-me__text__title {
        font-size: 2rem;
    }
    
    .about-me__text__description {
        font-size: 1.4rem;
    }
}