.footer {
    background: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    gap: 5px;
}

.footer__title {
    color: var(--preto-100);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.footer__text {
    color: var(--preto-100);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 1.6rem;
        gap: 0px;
    }

    .footer__title .footer__text {
        font-size: 1.4rem;
    }
}