.hobbies {
    margin: 8.5rem 15rem;
}

.hobbies__title {
    color: var(--preto-100);
    text-align: center;
    font-size: 4.3rem;
    font-weight: 700;
    margin-bottom: 8.8rem;
}

.hobbies__container {
    display: flex;
    justify-content: space-around;
}

.hobbies__container__item {
    background: var(--branco);
    width: 17rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    justify-content: flex-end;
    text-align: center;
    align-items: flex-start;
    border-radius: 5px;

}

.game {
    width: 3.5rem;
}

.hobbies__container__item__text {
    color: var(--preto-100);
    font-size: 1.6rem;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .hobbies {
        margin: 0;
        padding: 3.2rem;
    }
    
    .hobbies__title {
        font-size: 2.2rem;
        margin-bottom: 3.2rem;
    }
    
    .hobbies__container__item {
        width: 12rem;
        height: 12rem;
    }
}