.introduction {
    display: flex;
    align-items: center;
    margin-top: 7rem;
}

.introduction__text {
    margin-right: 1.9rem;
    padding: 2.5rem 0;
}

.introduction__text__title {
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--preto-100);
}

.introduction__text__subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--preto-100);
    margin-top: 2.4rem;
}

.introduction__text__links {
    display: flex;
    margin-top: 2.65rem;
    
}

.introduction__text__links__media {
    font-size: 2rem;
    font-weight: 500;
    color: var(--preto-100);
    margin-right: 2.2rem;
}

.introduction__text__links__media:hover {
    color: rgb(128, 125, 125);
}

.introduction__text__links__arrow {
    width: 1.5rem;
    margin-left: 0.5rem;
}

.introduction__img {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
}