.professional-experience {
    margin: 3.5rem 15rem;
}

.professional-experience__title {
    color: var(--preto-100);
    margin: 5.5rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.professional-experience__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professional-experience__projects__project {
    display: flex;
    margin-bottom: 6.5rem;
}

.professional-experience__projects__img {
    width: 65rem;
    height: 40rem;
    padding: 1rem;
}

.professional-experience__projects__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4.6rem;
}

.professional-experience__projects__text__title {
    color: var(--preto-100);
    font-size: 2.2rem;
    font-weight: 700;
}

.professional-experience__projects__text__description {
    width: 33rem;
    color: var(--preto-100);
    font-size: 1.6rem;
    font-weight: 500;
}

.professional-experience__projects__links {
    display: flex;
    margin: 1rem 0;
}

.professional-experience__projects__links__repository {
    width: 10rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: 10px;
    margin-right: 1.6rem;

    border: 1px solid var(--azul-100);
    color: var(--azul-100);
    font-size: 1.6rem;
    font-weight: 400;

}

.professional-experience__projects__links__repository:active {
    background: #dad6d6;
}

.professional-experience__projects__links__demonstration {
    width: 10rem;
    height: 3.5rem;
    background: var(--azul-100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: 10px;

    border: 1px solid var(--azul-100);
    color: var(--branco);
    font-size: 1.6rem;
    font-weight: 400;

}

.professional-experience__projects__links__demonstration:active {
    background: #1b62be;
}

.reverse {
    flex-direction: row-reverse;
}

.question-mark__img {
    width: 65rem;
    height: 40rem;
    
}

@media screen and (max-width: 768px) {
    .professional-experience {
        margin: 0;
        padding: 3.2rem;
    }
    
    .professional-experience__title {
        margin: 0 0 1.6rem;
        font-size: 2.2rem;
    }
    
    .professional-experience__projects__project {
        flex-direction: column;
        margin-bottom: 6.4rem;
    }
    
    .professional-experience__projects__text {
        margin: 1.6rem 0 0;
    }
    
    .professional-experience__projects__text__title {
        font-size: 1.6rem;
    }
    
    .professional-experience__projects__text__description {
        width: 100%;
        font-size: 1.4rem;
        line-height: 20px;
    }
    
    .professional-experience__projects__links {
        margin: 0;
    }
    
    .professional-experience__projects__links__repository {
        width: 12rem;
        height: 3rem;
        padding: 1.2rem 1.6rem;
        gap: 10px;
        margin-right: 1.6rem;
    
        font-size: 1.4rem;   
    }

    .professional-experience__projects__links__demonstration {
        width: 12rem;
        height: 3rem;
        padding: 1.2rem 1.6rem;
        gap: 10px;
    
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 425px) {
    .professional-experience {
        padding: 1.6rem;
    }
    
    .professional-experience__title {
        font-size: 2rem;
    }

    .professional-experience__projects__img {
        width: 38rem;
        height: 18rem;
    }
    
    .professional-experience__projects__text {
        margin-left: 0rem;
    }
    
    .professional-experience__projects__text__title {
        font-size: 1.8rem;
    }
    
    .professional-experience__projects__text__description {
        font-size: 1.4rem;
    }

    .professional-experience__projects__links__repository {
        width: 8rem;
        height: 2.5rem;
    
        font-size: 1.2rem;   
    }

    .professional-experience__projects__links__demonstration {
        width: 8rem;
        height: 2.5rem;
    
        font-size: 1.2rem;
    }
}