.skills {
    margin: 3.5rem 15rem 8rem;
}

.skill__title {
    color: var(--preto-100);
    text-align: center;
    font-size: 4.3rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.skill__container {
    display: flex;
    justify-content: space-between;

}

.skill__container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.skill__container__item__img--html {
    width: 11rem;
}

.skill__container__item__img--html:hover {
    width: 13rem;
    transition: 0.6s ease-in-out;
}

.skill__container__item__img--css {
    width: 15rem;
}

.skill__container__item__img--css:hover {
    width: 17rem;
    transition: 0.6s ease-in-out;
}

.skill__container__item__img--js {
    width: 13rem;
}

.skill__container__item__img--js:hover {
    width: 15rem;
    transition: 0.6s ease-in-out;
}

.skill__container__item__img--react {
    width: 15rem;
}

.skill__container__item__img--react:hover {
    width: 17rem;
    transition: 0.6s ease-in-out;
}

.skill__container__item__text {
    color: var(--preto-100, #464646);
    font-size: 1.9rem;
    font-weight: 700;
}